{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-5">
                <h2 class="logo-font text-white">Discover</h2>
                <hr class="line">
            </div>
        </div>

        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0 text-white">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid card-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid card-image" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <h4 class="mb-0">{{ product.name }}</h4>
                                </div>
                                
                                <div class="card-footer pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">€{{ product.price }}</p>
                                            {% if product.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            {% if product.rating %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-muted">No Rating</small>
                                            {% endif %}
                                            {% if request.user.is_superuser %}
                                            <small class="ml-3">
                                                <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                            </small>
                                            {% endif %}

                                            <form class="form update-form " method="POST" action="{% url 'add_to_wishlist' product.id %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                                <button class="btn rounded-0 text-uppercase wishlist-star" ><i class="fas fa-star"></i></button>
                                            </form>                      

                                            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                                {% csrf_token %}
                                                <div class="form-row">
                                                    <div class="col-12">
                                                        <p class="mt-3">Quantity:</p>
                                                        <div class="form-group w-50">
                                                            <div class="input-group">
                                                                <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                                            </div>
                                                        </div>
                                                    
                        
                                                        <input type="submit" class="btn rounded-0 text-uppercase mt-3 bag-btn-card" value="Add to Bag">
                                                        
                                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                                    </div>
                                                </div>
                                            </form>                                                                  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">                                
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">                                
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">                                
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">                                
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col text-center text-white mt-5">
                <h2 class="logo-font ">Latest Game News</h2>
                <hr class="line">
            </div>
            
            <div class="row">
                <div class="col-xl-6 col-12 mb-5 mb-xl-0">
                    <div class="media media-news">
                        <div class="media-img">
                            <img src="{{ MEDIA_URL }}news/news_gow_image.png " alt="Generic placeholder image">
                        </div>
                        <div class="media-body">
                            <span>Rich Stanton |</span> <span class="media-date">09 July 2021</span>        
                            <h5 class="mt-3 sep">Playing God of War on PS Now made me rage harder than Kratos.</h5>
                            <p>Hit-and-miss would be generous.</p>
                        <a href="https://www.pcgamer.com/playing-god-of-war-on-ps-now-made-me-rage-harder-than-kratos/" target="_blank" class="btn btn-transparent view-btn">View More at Pcgamer.com</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-6 col-12">
                    <div class="media media-news">
                        <div class="media-img">
                            <img src="{{ MEDIA_URL }}news/news_ac_valhalla_image.png" alt="Generic placeholder image">
                        </div>
                        <div class="media-body">
                            <span>Hirun Cryer  |</span> <span class="media-date">11 August 2021</span>
                            <h5 class="mt-3 sep">Assassin's Creed Valhalla gets free Ezio outfit for Eivor</h5>
                            <p>You'll need to have played Assassin's Creed Origins and Odyssey on the same Ubisoft Connect account, however</p>
                            <a href="https://www.gamesradar.com/assassins-creed-valhalla-earn-xp-level-up-fast/" target="_blank" class="btn btn-transparent view-btn">View More at Gamesradar.com</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row mt-5">
                <div class="col-xl-6 col-12 mb-5 mb-xl-0">
                    <div class="media media-news">
                        <div class="media-img">
                            <img src="{{ MEDIA_URL }}news/news_smash_image.png" alt="Generic placeholder image">
                        </div>
                        <div class="media-body">
                            <span>Michael Derosa |</span> <span class="media-date">31 March 2021</span>
                            <h5 class="mt-3 sep">Super Smash Bros. Ultimate: The 10 Best Characters To Use</h5>
                            <p>There are some great characters on Super Smash Bros. Ultimate. But only a few have managed to make a strong reputation due to their power and strength</p>
                            <a href="https://screenrant.com/super-smash-bros-ultimate-best-characters-to-play/" target="_blank" class="btn btn-transparent view-btn">View More at screenrant.com</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-6 col-12">
                    <div class="media media-news">
                        <div class="media-img">
                        <img src="{{ MEDIA_URL }}news/news_f12021_image.png" alt="Generic placeholder image">
                        </div>
                        <div class="media-body">
                            <span>Toby Durant |</span><span class="media-date">27 July 2021</span>
                            <h5 class="mt-3 sep">F1 2021 Game Ultimate Guide: Complete setups, tips, settings, news & updates</h5>
                            <p>It’s a new era for Codemasters, but will their new owners impact the next F1 game?</p>
                            <a href="https://racinggames.gg/f1/f1-2021-release-date-gameplay-trailer-early-access-my-team-tracks-editions-price-uk-ps5-xbox-pc-steam/" target="_blank" class="btn btn-transparent view-btn">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
