.wishlist-product{
    background: #1F143D;
    color: #ffffff;
}

.btn-red {
    background: red;
    color: black;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    background: rgb(136, 0, 0);
    color: rgb((85, 85, 85)48, 137, 137);
}