<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="pc-link" aria-haspopup="true" aria-expanded="false">
                PC
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="psn-link" aria-haspopup="true" aria-expanded="false">
                PSN
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="xbox-link" aria-haspopup="true" aria-expanded="false">
                XBOX
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="nintendo-link" aria-haspopup="true" aria-expanded="false">
                NINTENDO
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="sale-link" aria-haspopup="true" aria-expanded="false">
                SALE
            </a>
        </li>
    </ul>
</div>