<div id="bag-account-icons">
    <div class="list-inline-item dropdown">
        <a class="account-nav" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center"> 
                <div><i class="fas fa-user fa-lg"></i></div>
                <p class="my-0">My Account</p>
            </div>
        </a>

        <div class="dropdown-menu border-0" aria-labelledby="user-options">
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                {% endif %}
                <a href="{% url 'wishlist' %}" class="dropdown-item">Wishlist <i class="far fa-star"></i></a>
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile <i class="far fa-user-circle"></i></a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout <i class="fas fa-sign-out-alt"></i></a>
            {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register <i class="fas fa-users"></i></a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login <i class="fas fa-sign-in-alt"></i></a>
            {% endif %}
        </div>
    </div>

    <div class="list-inline-item">
        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} bag-nav" href="{% url 'view_bag' %}">
            <div class="text-center">
                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                <p class="my-0">
                    {% if grand_total %}
                        €{{ grand_total|floatformat:2 }}
                    {% else %}
                        €0.00
                    {% endif %}   
                </p>
            </div>
        </a>
    </div>
</div>

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="logo-font font-weight-bold product-nav" href="{% url 'home' %}" id="all_products-link" aria-haspopup="true" aria-expanded="false">
                HOME
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold product-nav" href="{% url 'products' %}" id="all_products-link" aria-haspopup="true" aria-expanded="false">
                ALL PRODUCTS
            </a>
        </li>
        
        <li class="nav-item">
            <a class="logo-font font-weight-bold product-nav" href="{% url 'products' %}?category=PC" id="pc-link" aria-haspopup="true" aria-expanded="false">
                PC
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold product-nav" href="{% url 'products' %}?category=PSN" id="psn-link" aria-haspopup="true" aria-expanded="false">
                PSN
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold product-nav" href="{% url 'products' %}?category=XBOX" id="xbox-link" aria-haspopup="true" aria-expanded="false">
                XBOX
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold product-nav" href="{% url 'products' %}?category=NINTENDO" id="nintendo-link" aria-haspopup="true" aria-expanded="false">
                NINTENDO
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold product-nav" href="{% url 'products' %}?category=SALE" id="sale-link">
                SALE
            </a>
        </li>
    </ul>
</div>

